<div class="container-fluid">
  <h1>Médicos</h1>
  <div class="card">
    <div class="card-body">
      <img
        src="https://github.com/RosangelaSSBorges/angular-AgendaMedica/blob/master/src/assets/img/medicos.png?raw=true"
        alt=""
      />
    </div>
  </div>

  <hr />

  <ul>
    <!--Fazer o get do back -->
    <li>Nome</li>
    <li>Especialidade</li>
    <li>Contato</li>
  </ul>
</div>
<hr />
<!-- incluir novo médico -->
<h3>Cadastrar novo Médico</h3>
<div>Nome do Médico:</div>
<!--<div><input [(ngModel)]="nome" /></div>-->
<div><input /></div>
<!-- APAGAR ESSA LINHA E DESCOMENTAR A DE CIMA-->
<br />
<div>Especialidade:</div>
<!--div><input type="text" [(ngModel)]="especialidade" /></div>-->
<div><input type="text" /></div>
<br />
<div>Contato:</div>
<!--<div><input type="text" [(ngModel)]="contato" /></div>-->
<div><input type="text" /></div>
<br />
<!--
<button
  class="btn btn-lg btn-block btn-primary"
  (click)="agendaService.addItem()"
>
  Adicionar
</button> -->
<hr />
<h3>Excluir Médico</h3>
<table border="1">
  <tr class="tr">
    <th>Nome</th>
    <th>Especialidade</th>
    <th>Contato</th>
    <th>Comando</th>
  </tr>
  <!--
  <tr *ngFor="let item of listMedico | async">
    <td [title]="['chave ' + item.key]">{{ item.nome }}</td>
    <td [title]="['chave ' + item.key]">{{ item.especialidade }}</td>
    <td [title]="['chave ' + item.key]">{{ item.contato }}</td>
    <!--<td>{{ item.email }}</td>-->
  <!--
    <td><button (click)="deleteItem(item.key)">Remover</button></td>
  
  </tr> -->
</table>
<!--
<button (click)="agendaService.getMedico()">Atualizar Médicos</button>
<div *ngIf="list">-->
<table>
  <tr>
    <th>id</th>
    <th>nome</th>
    <th>endereço</th>
  </tr>
  <tr *ngFor="let item of list">
    <td>{{ item['id'] }}</td>
    <td>{{ item['nome'] }}</td>
    <td>{{ item['endereco'] }}</td>
  </tr>
</table>
<!--</div>-->
